version: "2.1"
services:
  sqlitebrowser:
    image: php:7.2-apache
    container_name: sw-osbox-phpliteadmin
    volumes:
      - ./code:/var/www/html
      - /etc/osbox:/db
    env:
      user=1000:1000
    ports:
      - 2015:80
    restart: unless-stopped
